#player-modal {
    padding: 1em;
    width: 15em;

    background-color: #444444;

    h2 {
        margin: 0;
        padding-bottom: .5em;
        text-align: center;
    }

    form {
        li {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            align-items: center;

            .input {
                position: relative;
                width: 100%;
                justify-self: flex-end;

                input {
                    width: 50%;
                    background-color: inherit;
                    border: 1px solid #FFF;
                    color: #FFF;
                    padding: 1em;
        
                    &:hover {
                        cursor: pointer;
                    }

                    &[type="number"] {
                        text-align: right;
                    }
                }
            }
        }

        .form-buttons {
            padding-top: 1em;
            text-align: right;

            button {
                background-color: inherit;
                border: 1px solid #4486e9;
                padding: 1em;
                margin: 0 .5em;
                color: #FFFFFF;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}