.player {
  position: relative;
  border: 2px solid #FFFFFF;
  width: 10em;
  min-height: 5em;
  margin: 1em 0;
}

.player header {
  text-align: center;
}

.player .player-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.player .player-info .player-options {
  text-align: center;
}

.player .player-info .ranks {
  width: 100%;
}

.player .player-info .ranks .tank, .player .player-info .ranks .dps, .player .player-info .ranks .support {
  width: 100%;
  text-align: center;
}

.player .player-info .ranks .tank .icon, .player .player-info .ranks .dps .icon, .player .player-info .ranks .support .icon {
  padding-right: .25em;
}
