body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
    color: white;
    font-size: calc(16px + 2vmin);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  ul {
    margin: 0;
    padding: 0;
    
    li {
      list-style-type: none;
    }
  }
  
  .icon {
    display: inline-block;
    width: .75em;
    height: .75em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  a {
    &:link, &:hover, &:active, &:visited {
      text-decoration: none;
      color: inherit;
    }
  }

  .clickable {
    cursor: pointer;
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */